html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.app-layout {
  display: flex;
  flex: 1;  /* занимает всё оставшееся пространство */
  min-height: 0; /* важно для flex-детей */
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
