html, body, #root, .app, .app-layout {
  height: 100%;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.app-layout {
  /* убираем display: flex, flex: 1, min-height */
  display: block;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
